<!DOCTYPE html>
<html>
  <head>
    <title>Directions Service</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" /> 
  </head>
  <body>
    <section class="overlay-closed1" id="overlay-closed" value ="notclicked">
      <section class="overlay-closed2" id="overlay-closed" value ="notclicked">
        </section>
      </section>
    <div id="container">
      <div id="map"></div>
      <div id="sidebar">
        <div>
          <b>Start:</b><br />
          <select id="start">
            <option value="Current Location">Current Location</option>
            <option value="Amsterdam Centraal">Amsterdam Centraal</option>
            <option value="Amsterdam Science Park">Amsterdam Science Park</option>
            <option value="Roeterseiland UvA">Roeterseiland UvA</option>
            <option value="Amsterdam Muiderpoort">Amsterdam Muiderpoort</option>
          </select>
          <input style='float: right;'type="checkbox" id="Architecture" name="architecture" value="Architecture">
          <label style='float: right;'for="Architecture">Architecture</label>

          <input style='float: right;'type="checkbox" id="Attractions" name="attractions" value="Attractions">
          <label style='float: right;'for="Attractions">Attractions</label><br>
          
          <input style='float: right;'type="checkbox" id="Canal ring" name="canal ring" value="Canal ring">
          <label style='float: right;'for="Canal ring">Canal ring</label>

          <input style='float: right;'type="checkbox" id="Castles & gardens" name="castles & gardens" value="Castles & gardens">
          <label style='float: right;'for="Castles & gardens">Castles & gardens</label><br><br />
 
          <input style='float: right;'type="checkbox" id="City centre" name="city centre" value="City centre">
          <label style='float: right;'for="City centre">City centre</label>

          <input style='float: right;'type="checkbox" id="Historical" name="historical" value="Historical">
          <label style='float: right;'for="Historical">Historical</label><br><br>

          <input style='float: right;'type="checkbox" id="Monument" name="monument" value="Monument">
          <label style='float: right;'for="Monument">Monument</label>

          <input style='float: right;'type="checkbox" id="Waterland" name="waterland" value="Waterland">
          <label style='float: right;'for="Waterland">New land</label>
          <b>End:</b><br />
          <select id="end">
            <option value="Dam Square">Dam Square </option>
            <option value="Rembrandtplein">Rembrandtplein</option>
            <option value="Leidseplein">Leidseplein</option>
            <option value="Museumplein">Museumplein</option>
            <option value="Muntplein">Muntplein</option>
            <option value="Amsterdam Centraal">Amsterdam Centraal</option>
            <option value="Anne frank huis">Anne frank huis</option>
          </select><br />
          <br />
          <input type="submit" id="submit" value="Show route" /><br> <br>
          <input style='float: right;' type="button" id="showAllPlaces" value="Show All Iamsterdam Places" />
          <input type="button" id="locationButton" value="Get location" />
          <div>
          <!-- <br /><br /> -->
          <!-- <input style='float: right;' type="button" id="showAllPlaces" value="Show All Iamsterdam Places" /> -->
        </div>
        <div id ="currentlocationlat" value = ""></div>
        <div id ="currentlocationlong" value = ""></div>
        <div id="directions-panel"></div>
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="js/index.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0RpEvgnHbb9SW9lbLqT2N4PIT5Fot9gQ&callback=initMap&v=weekly&channel=2"
      async
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/bigdatacloudapi/js-reverse-geocode-client@latest/bigdatacloud_reverse_geocode.min.js" type="text/javascript"></script>
  </body>
</html>