<!DOCTYPE html>
<html>
  <head>
    <title>Directions Service</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" /> 
    <script src="js/index.js"></script>
  </head>
  <body>

    <div id="container">
      <div id="map"></div>
      <div id="sidebar">
        <div>
          <b>Start:</b><br />
          <select id="start">
            <option value="Current Location">Current Location</option>
            <option value="Amsterdam Centraal">Amsterdam Centraal</option>
            <option value="Amsterdam Science Park">Amsterdam Science Park</option>
            <option value="Roeterseiland UvA">Roeterseiland UvA</option>
            <option value="Amsterdam Muiderpoort">Amsterdam Muiderpoort</option>
          </select>
          <input style='float: right;'type="checkbox" id="Architecture" name="architecture" value="Architecture">
          <label style='float: right;'for="Architecture">Architecture</label>

          <input style='float: right;'type="checkbox" id="Attractions" name="attractions" value="Attractions">
          <label style='float: right;'for="Attractions">Attractions</label><br>
          
          <input style='float: right;'type="checkbox" id="Canal ring" name="canal ring" value="Canal ring">
          <label style='float: right;'for="Canal ring">Canal ring</label>

          <input style='float: right;'type="checkbox" id="Castles & gardens" name="castles & gardens" value="Castles & gardens">
          <label style='float: right;'for="Castles & gardens">Castles & gardens</label><br><br />
 
          <input style='float: right;'type="checkbox" id="City centre" name="city centre" value="City centre">
          <label style='float: right;'for="City centre">City centre</label>

          <input style='float: right;'type="checkbox" id="Historical" name="historical" value="Historical">
          <label style='float: right;'for="Historical">Historical</label><br><br>

          <input style='float: right;'type="checkbox" id="Monument" name="monument" value="Monument">
          <label style='float: right;'for="Monument">Monument</label>

          <input style='float: right;'type="checkbox" id="Waterland" name="waterland" value="Waterland">
          <label style='float: right;'for="Waterland">New land</label>
          <!-- <b>Stopovers:</b> <br /> -->
          <!-- <select multiple id="Stopovers">
            <option value="Dam square">Dam square</option>
            <option value="Science park amsterdam">Science park amsterdam</option>
            <option value="Amstel hotel">Amstel hotel</option>
            <option value="Anne Frank huis">Anne Frank huis</option>
            <option value="Albert Heijn de pijp">Albert Heijn de pijp</option>
          </select> -->
          <!-- <br /><br /> -->
          <b>End:</b><br />
          <select id="end">
            <option value="Roeterseiland UvA">Roeterseiland UvA</option>
          </select><br />
          <!-- <input type="text" id="end" name="fname"><br> -->
          <br />
          <input type="submit" id="submit" value="Show route" /><br> <br>
          <input style='float: right;' type="button" id="showAllPlaces" value="Show All Iamsterdam Places" />
          <input type="button" id="locationButton" value="Get location" />
          <div>
          <!-- <br /><br /> -->
          <!-- <input style='float: right;' type="button" id="showAllPlaces" value="Show All Iamsterdam Places" /> -->
        </div>
        <div id="directions-panel"></div>
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0RpEvgnHbb9SW9lbLqT2N4PIT5Fot9gQ&callback=initMap&v=weekly&channel=2"
      async
    ></script>
  </body>
</html>